@charset "utf-8";
/* CSS Document */

/******************************
[Table of Contents]

1. 768px (Mobile)


******************************/

/************
1. 768px (Mobile)
************/

@media only screen and (max-width: 768px)
{
	.banner-about-content
	{
		padding: 200px 120px;
	}
	.about-content
	{
		margin-left: 15px;
		margin-right: 15px;
	}
	.footer-width a img
	{
		width: 150px;
	}
	.mobile-align
	{
		text-align: center;
		padding-bottom: 50px;
	}
	.footer
	{
		padding-top: 0;
	}
}